  <!DOCTYPE html>
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <title>Document</title>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

      <!--adding socketio connection-->
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

      <!-- Socket Connectivity -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        
		<!--adding socketio connection-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        
		<!-- Socket Connectivity -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		
		<!-- saving the whole script to the local machine -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
 
  </head>

  <body>
      <div class="container">
          <div class="row">
              <div class="col-lg-8  offset-lg-2">
                  <h3 class="mt-5">Live Streaming</h3>
                  <img src="{{ url_for('video_feed') }}" width="100%">
              </div>
          </div>
      </div>

      <div id="container">
          <div>
              <video autoplay="true" id="videoElement"></video>
              <canvas id="canvasElement"></canvas>

              <img id="photo">
          </div>
      </div>



  </body>

  </html>
